.header {
  width: 100%;
  //height: 100vh;
  position: relative;
  z-index: 200;
  filter: blur(0);
  transition: filter 0.7s linear;

  &--is-blurred, &__nav--is-blurred {
    filter: blur(20px);
    transition: filter 0.5s linear;
    z-index: 200;
  }

  &__content {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  &__content-logo {
    max-width: 200px;
    width: 25vw;
    display: block;
    margin: 4vh auto 0 auto;
    animation: logo-size 1.5s ease-out, logo-dance 1s 1.5s ease-in infinite;

    @media screen and (max-height: 414px), screen and (max-width: 327px) {
      display: none;
    }
  }

  &__content-title {
    @include title;
    text-align: center;
    margin-top: 100px;
    display: block;

    @media screen and (max-width: 568px) {
      margin-top: 50px;
    }

    @media screen and (max-height: 517px) {
      margin-top: 20px;
    }
  }

  &__content-subtitle {
    @include subtitle;
  }

  &__filter {
    position: absolute;
    z-index: 5;
    top: 0;
    background: linear-gradient(to bottom, rgba(62, 41, 20, 0.75),
            rgba(163, 150, 133, 0.75));
    width: 100%;
    height: 100vh;
  }

  &__video-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  &__video {
    position: absolute;
    left: 50%;
    min-height: 150%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;
    filter: blur(5px);
  }

  &__content-arrow-img {
    opacity: 1;
    transition: opacity 2s;
  }

  &__content-arrow-img--active {
    opacity: 0;
    animation: arrow-fly-off 2s ease-out;
    transition: opacity 1s 0.5s;
  }

  &__content-arrow:hover {
    opacity: 1;
    text-shadow: 2px 2px 2px white;
    transition: opacity 0.15s ease-in;
  }

  &__content-arrow {
    position: absolute;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100px;
    opacity: 0.4;

    transition: opacity 0.25s ease-in;
    animation: arrow-moving 1.5s ease-out infinite;

    @media screen and (max-height: 564px) {
      width: 50px;
    }
  }
}