.products {

  &__title {
    @include headings;
    @include styling;
    font-size: $m-font;
  }

  &__box {
    display: block;
    text-align: center;
    box-shadow: inset 0 0 0 2px transparent;
    color: $light-brown;
    vertical-align: middle;
    padding: 20px;
    position: relative;
    margin-bottom: 15px;

    &-img {
      max-width: 300px;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      border: 3px solid transparent;
      display: block;
      width: 0;
      height: 0;
    }
    //width: top || height: lef
    &:before {
      top: 0;
      left: 0;
      transition: border-color 0s ease-out 0.6s,
      height 0.15s ease-in 0.3s,
      width 0.15s ease-in 0.45s;
    }

    //width: bottom || height: right
    &:after {
      bottom: 0;
      right: 0;
      transition: border-color 0s ease-out 0.3s,
      height 0.15s ease-in,
      width 0.15s ease-in 0.15s;
    }

    &:hover:before,
    &:hover:after {
      width: 100%;
      height: 100%;
    }

    &:hover:before {
      border-top-color: $light-green;
      border-right-color: $light-green;
      transition: width 0.15s ease-out,
      height 0.15s ease-out 0.15s;
    }

    &:hover:after {
      border-bottom-color: $light-green;
      border-left-color: $light-green;
      transition: border-color 0s ease-out 0.3s,
      width 0.15s ease-out 0.3s,
      height 0.15s ease-out 0.45s;
    }
  }

  &__box-title {
    color: $dark-brown;
    @include headings;
  }

  &__box-price {
    color: $dark-brown;
    background-color: $light-brown;
    position: relative;
    margin: 20px auto;
    padding: 5px 0 0 0;
    height: 32px;
    width: calc(100% - 32px);

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 16px solid $light-brown;
      border-bottom: 16px solid $light-brown;
    }

    &:before {
      left: -16px;
      border-left: 16px solid transparent;
    }

    &:after {
      right: -16px;
      border-right: 16px solid transparent;
    }

  }
}