.Cart {
  &__button {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
  }

  &__button--login {
    background-image: url("#{$img-path}/icons/padlock-empty.png");
    transition: background-image 0.25s ease-in-out;
    margin-right: 40px;

    &:hover, &:focus {
      background-image: url("#{$img-path}/icons/padlock-full.png");
      transition: background-image 0.25s ease-in-out;
    }
  }
 
  &__button {
    position: relative;
    background-image: url("#{$img-path}/icons/cart-empty.png");
    transition: background-image 0.25s ease-in-out;

    &:hover, &:focus {
      background-image: url("#{$img-path}/icons/cart-full.png");
      transition: background-image 0.25s ease-in-out;
    }
  }

  &__button-count {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 10px;
    color: $dark-brown;
    border-radius: 100%;
    background-color: $light-green;
    right: -15px;
    top: -8px;
  }

  &__menu {
    position: absolute;
    color: $light-brown;
    z-index: 10;
    right: 0; 
    top: 49px;
    width: 250px;
    padding: 10px 20px;
    border: 1px solid $dark-brown;
    // border-radius: 0 0 10px 10px;
    background-color: $brown;
    transform-origin: top;
    opacity: 0;
    transform: scaleY(0.25);
    visibility: hidden;
    pointer-events: none;
    box-shadow: 2px 4px 40px 1px $dark-brown-shadow;
    transition: all 0.25s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      // top: 0;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -150px;
      width: 0;
      height: 0;
      z-index:1000;
      border-top: $triangle-size-cart solid $brown;
      border-left: 50px solid transparent;
      border-bottom: $triangle-size-cart solid $brown;
      // left: -16px;
      transform: rotate(-90deg);
    }

/*     &:after {
      right: -16px;
      border-right: 16px solid transparent;
    } */
  }

  &__menu--is-open {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    pointer-events: all;
    transition: all 0.25s ease-in-out;
  }

  &__menu-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-item img {
    width: auto;
    height: 45px;
   }

    &__menu-item-delete {
      width: 25px;
      color: $dark-brown;
      height: 25px;
      background-color: $light-red;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
      box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.4);
      transition: box-shadow 0.5s ease-in-out;

      &:hover {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
        transition: box-shadow 0.5s ease-in-out;
      }
    }

    &__menu-item-delete-icon {
      display: flex;
      align-items: center;
      font-size: 2.5em;
      height: inherit;
      position: relative;
      top: -9%;
      right: -1%;
    }
}