@keyframes arrow-moving {
  0% {bottom: 10px;}
  50% {bottom: 30px;}
  100% {bottom: 10px;}
}

@keyframes arrow-opacity {
  0% {opacity: 0.45;}
  100% {opacity: 1;}
}

@keyframes arrow-fly-off {
  0% {transform: translateY(0)}
  30% {transform: translateY(-100px)}
  100% {transform: translateY(350px);}
}

@keyframes logo-size {
  0%  {transform: scale(0) rotate(0);}
  25% {transform: scale(1.3) rotate(390deg);}
  50% {transform: scale(0.9) rotate(320deg);}
  75% {transform: scale(1) rotate(370deg)}
  100% {transform: rotate(358deg);}
}

@keyframes logo-dance {
  0% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
  100% {transform: rotate(-2deg);}
}

@keyframes close-logo-spin {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(360deg);}
  100% {transform: rotate(720deg);}
}

