$dark-brown: #3E2914;
$dark-brown-shadow: rgba(62, 41, 20, 0.75);
$brown: #5A3C1D;
$light-brown: #A39685;
$light-brown-75: rgba(163, 150, 133, 0.75);

$gold: #d4b15d;
// $gold: #e3c56d;

$dark-green: #143e3e;
$light-green: #85a38d;

$light-red: #A38688;
$dark-red: rgb(170, 90, 95);