.Overlay {
  display: block;
  padding-top: 60px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(133, 163, 141, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  opacity: 0.8;

  transform: translateY(-200vh);
  transition: transform 0.75s ease-in;

  @media screen and (max-width: $screen-xs-max) {
    height: 200%;
  }

  &--is-open {
    background-color: rgba(133, 163, 141, 0.5);
    height: 100%;

    transform: translateY(0vh);
    transition: transform 0.75s ease-out;
    overflow-y: scroll;
  }

  &__close {
    display: block;
    position: absolute;
    width: 100px;
    z-index: 10;
    padding: 20px;
    top: 30px;
    right: 30px;
    transition: transform 2s ease-out;

    @media screen and (max-width: $screen-xs-max) {
      width: 60px;
    }

    &:hover {
      transform: rotate(1440deg);
      transition: transform 4s ease-in;
    }

    //&:active,
    //&:focus {
    //  transform: scale(2);
    //  transition: transform 2s ease-in;
    //}
  }

  &__content-img {
    width: 500px;

    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  &__content-title {
    @include headings;
    font-size: $m-font;
    color: $brown;
  }

  &__description-title {
    @include subtitle;
    color: $brown;
  }

  &__content-price {
    @include headings;
    color: $light-brown;
    background-color: $brown;
    position: relative;
    margin: 20px auto;
    padding: 5px 0 0 0;
    height: 40px;
    width: calc(100% - 32px);

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 20px solid $brown;
      border-bottom: 20px solid $brown;
    }

    &:before {
      left: -20px;
      border-left: 20px solid transparent;
    }

    &:after {
      right: -20px;
      border-right: 20px solid transparent;
    }
  }
}