.products {
  min-height: 1350px;

  &__title {
    @include headings;
    @include styling;
    font-size: $m-font;
    margin-bottom:50px;
  }
  
  &__box-img {
    max-height: 200px;
    width: auto;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }

  &__box {
    display: block;
    text-align: center;
    box-shadow: inset 0 0 0 2px transparent;
    color: $light-brown;
    padding: 20px;
    position: relative;
    margin-bottom: 15px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      border: 3px solid transparent;
      display: block;
      width: 0;
      height: 0;
    }
    //width: top || height: lef
    &:before {
      top: 0;
      left: 0;
      transition: border-color 0s ease-out 0.6s, height 0.15s ease-in 0.3s,
        width 0.15s ease-in 0.45s;
    }

    //width: bottom || height: right
    &:after {
      bottom: 0;
      right: 0;
      transition: border-color 0s ease-out 0.3s, height 0.15s ease-in,
        width 0.15s ease-in 0.15s;
    }

    &:hover:before,
    &:hover:after {
      width: 100%;
      height: 100%;
    }

    &:hover:before {
      border-top-color: $light-green;
      border-right-color: $light-green;
      transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    }

    &:hover:after {
      border-bottom-color: $light-green;
      border-left-color: $light-green;
      transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s,
        height 0.15s ease-out 0.45s;
    }
  }

  &__box--best-seller {
    &:hover:before {
      border-top-color: $gold;
      border-right-color: $gold;
    }

    &:hover:after {
      border-bottom-color: $gold;
      border-left-color: $gold;
    }
  }

  &__box--unavailable {
    &:hover:before {
      border-top-color: $light-red;
      border-right-color: $light-red;
    }

    &:hover:after {
      border-bottom-color: $light-red;
      border-left-color: $light-red;
    }
  }

  &__box--best-seller &__box-img-wrapper {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 80px;
      height: 100%;
      top: -20px;
      right: 30px;
      transform: rotate(45deg);
      background-image: url("#{$img-path}/assets/bestseller-gold.png");  
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__box-title {
    color: $dark-brown;
    @include headings;
  }

  &__box-price {
    color: $dark-brown;
    background-color: $light-brown;
    position: relative;
    margin: 20px auto;
    padding: 5px 0 0 0;
    height: 32px;
    width: calc(100% - 32px);

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-top: 16px solid $light-brown;
      border-bottom: 16px solid $light-brown;
    }

    &:before {
      left: -16px;
      border-left: 16px solid transparent;
    }

    &:after {
      right: -16px;
      border-right: 16px solid transparent;
    }
  }

  &__box--discount &__box-price-regular {
    display: inline-block;
    text-align: center;
    opacity: 0.8;
    width: 50px;
    position: relative;

    &:before {
      content:'';
      position: absolute;
      width: 100%;
      left: 0;
      top: calc(50% - 1px);
      height: 2px;
      background-color: red;
      opacity: 0.6;
    }
  }

  &__box--discount  &__box-price-discount {
    display: inline-block;
    width: 50px;
    font-size:  1.2em;
    font-weight: bold;
  }
}
